body {
    margin: 0;
}
#header > a {
    float: left;
}
ul.menu-list-item {
    display: none;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul.menu-list > li {
    list-style: none;
    width: 2vw;
    width: 20%;
    padding: 10px;
    background: #747474;
    color: white;
}
.add-input {
    border-radius: 20px;
    box-shadow: 2px 5px 5px 5px gainsboro;
    width: 40vw;
}
.add-input > input {
    width: 100%;
    border: none;
}
.add-input > input:focus {
    outline:none;
}
